[submodule "hardware/esp8266/esp8266"]
	path = hardware/esp8266/esp8266
	url = https://github.com/esp8266/Arduino.git
[submodule "libraries/AsyncTCP"]
	path = libraries/AsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP.git
[submodule "libraries/IRRemote"]
	path = libraries/IRRemote
	url = https://github.com/markszabo/IRremoteESP8266.git
[submodule "libraries/rcswitch"]
	path = libraries/rcswitch
	url = https://github.com/sui77/rc-switch.git
[submodule "libraries/rfid"]
	path = libraries/rfid
	url = https://github.com/miguelbalboa/rfid.git
